## FUNCTIONS ##

## Kill process by name ##
kp () {
  ps aux | grep $1 > /dev/null
  mypid=$(pidof $1)
  if [ "$mypid" != "" ]; then
    kill -9 $(pidof $1)
    if [[ "$?" == "0" ]]; then
      echo "PID $mypid ($1) killed."
    fi
  else
    echo "None killed."
  fi
  return;
}

## Find a process ##
psa () {
  ps aux | grep $1
}

## Make directory and cd to it ##
mcd () {
    mkdir -p $1
    cd $1
}

## Uncompress file ##
function extract {
 if [ -z "$1" ]; then
    # display usage if no parameters given
    echo "Usage: extract <path/file_name>.<zip|rar|bz2|gz|tar|tbz2|tgz|Z|7z|xz|ex|tar.bz2|tar.gz|tar.xz>"
 else
    if [ -f $1 ] ; then
        # NAME=${1%.*}
        # mkdir $NAME && cd $NAME
        case $1 in
          *.tar.bz2)   tar xvjf ../$1    ;;
          *.tar.gz)    tar xvzf ../$1    ;;
          *.tar.xz)    tar xvJf ../$1    ;;
          *.lzma)      unlzma ../$1      ;;
          *.bz2)       bunzip2 ../$1     ;;
          *.rar)       unrar x -ad ../$1 ;;
          *.gz)        gunzip ../$1      ;;
          *.tar)       tar xvf ../$1     ;;
          *.tbz2)      tar xvjf ../$1    ;;
          *.tgz)       tar xvzf ../$1    ;;
          *.zip)       unzip ../$1       ;;
          *.jar)       unzip ../$1       ;;
          *.Z)         uncompress ../$1  ;;
          *.7z)        7z x ../$1        ;;
          *.xz)        unxz ../$1        ;;
          *.exe)       cabextract ../$1  ;;
          *)           echo "extract: '$1' - unknown archive method" ;;
        esac
    else
        echo "$1 - file does not exist"
    fi
fi
}

## color prompt ##
function color_my_prompt {
	userid=`id -u`
	if [ "$userid"  = "0" ]; 
	then
	    local __user_and_host="\[\033[01;31m\]\u@\h";
	else
		local __user_and_host="\[\033[01;32m\]\u@\h";
	fi    
    local __cur_location="\[\033[01;34m\][\w]"
    local __git_info_color="\[\033[31m\]"
    local __prompt_tail="\[\033[32m\]$"
    local __last_color="\[\033[00m\]"
    export PS1="$__user_and_host $__cur_location$__git_info_color$__git_info$__prompt_tail$__last_color "
}
